body{
    font-family: "Montserrat", sans-serif;
}

.banner1 {
    width: 1280px;
    height: 720px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-image: url("../img3/Group_1.png"), url("../img3/Rectangle_1.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 140px 140px, 404px 490px;
    background-position: 570px 0px, 438px 0px;
}

.welcome {
    width: 302px;
    height: 50px;
    color: white;
    font-size: 30px;
    text-transform: lowercase;
    text-align: center;

    padding: 168px 0px 0px 501px;
    letter-spacing: 0.7em;
}

.login {
    width: 302px;
    height: 50px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2cm;
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    margin-left: 484px;
    margin-top: 40px;
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание */
    align-items: center; /* Вертикальное выравнивание */
}

.signup {
    width: 302px;
    height: 50px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2cm;
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    margin-left: 484px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

a{
    text-decoration: none;
    color: white;
}
